<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>basic chat app</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <h1>This is a chat room</h1>
  <input type="text" id="text_input" placeholder="enter message">
  <button id="submit">Submit</button>
  <div id="chatBox">

  </div>
</body>
<script src="/socket.io/socket.io.js"></script>
<script src="/client.js"></script>
</html>